<nav class="navbar">
    <ul class="navbar-list">
      <li class="navbar-item"><a routerLink="/" routerLinkActive="active">Accueil</a></li>
      <li class="navbar-item"><a routerLink="/about" routerLinkActive="active">À propos</a></li>
      <li class="navbar-item"><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li class="navbar-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
      <li class="navbar-item"><a routerLink="/list-friends" routerLinkActive="active">List Friends</a></li>
      <li class="navbar-item"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li class="navbar-item"><a routerLink="/commu" routerLinkActive="active">Commu</a></li>
    </ul>
  </nav>